.addMeal {
  h2 {
    margin-left: 25%;
  }

  form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding-top: 20px;
  }
  .requiredField::after {
    content: '*';
    color: rgb(201, 29, 29) !important;
    padding-left: 10px !important;
  }
}
